[package]
name = "adventofcode"
version = "0.1.0"
edition = "2021"
default-run = "adventofcode"

[dependencies]
tera = "1"
chrono = "0.4"
glam = "0.20.1"
lazy_static = "1.4.0"
regex = "1"

[dev-dependencies]
criterion = "0.3"

[profile.release]
lto = true
codegen-units = 1

[[bin]]
name = "setup"
test = false
bench = false
{% for day in days %}
[[bench]]
name = "{{ day }}"
harness = false
{% endfor %}