[package]
name = "adventofcode"
version = "0.1.0"
edition = "2021"
default-run = "adventofcode"

[dependencies]
tera = "1"
chrono = "0.4"

[dev-dependencies]
criterion = "0.3"

[[bin]]
name = "setup"
test = false
bench = false
{% for day in days %}
[[bench]]
name = "{{ day }}"
harness = false
bench = false
{% endfor %}